@model IEnumerable<Post>

@{ 

}

<h2>Home Page</h2>

<img src="~/content/static/riz-mooney-IbngTBpNuMA-unsplash.jpg" width="500" />
<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }

    </ul>
</div>
